body {
  background-image: url(./image/pinkwall.jpg);
}
.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}

.textCs{

background-color: aliceblue;
font-size: medium;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: bold;
}
.h1{

  color: aliceblue;
}
